@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,700;1,100;1,200&family=Poppins:wght@100;200;700&family=Roboto+Serif:ital,opsz,wght@0,8..144,100;0,8..144,600;0,8..144,700;1,8..144,400&family=Rubik+Doodle+Shadow&display=swap');

body{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url('../images/login-6-bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    font-family: 'Jost', sans-serif;
}

.form-2-wrapper {
    background: linear-gradient(90deg, rgba(251,240,255,1) 0%, rgba(247,221,251,0.35898109243697474) 49%, rgb(218 0 255 / 14%) 100%);
    padding: 50px;
    border-radius: 8px;
}
.logo img{
    width: 50%;
}
.divider{
    margin: 2rem;
}
.driver-content-center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-left: 5px;
    padding-right: 5px;
    background: linear-gradient(90deg, rgba(251,240,255,1) 0%, rgba(247,221,251,0.35898109243697474) 49%, rgb(218 0 255 / 8%) 100%);
    border-radius: 8px;
    font-size: .8rem;
    font-weight: 500;
    color: #001770;
}
.form-control{
    padding: 11px;
    border: none;
    border: 2px solid #405c7cb8;
    border-radius: 30px;
    background-color: transparent;
    font-family: Arial, Helvetica, sans-serif;
   
   
}
.form-control:focus{
    box-shadow: none !important;
    outline: 0px !important;
    background-color: transparent;
}
.form-check-input:checked{
    background-color: #b400ff;
    border: none;
    outline: none;
}
.form-check a{
    color: #000;
}
.login-btn{
    background: #b400ff;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 30px;
}
.register-test a{
    color: #000;
}
.social-login button{
    border-radius: 30px;
}